{% extends 'tournaments/base.html' %}
{% load static %}

{% block content %}
  <h1 class="d-flex justify-content-center mb-4">{{ tournament.tournament_name }}</h1>
  <div class="container d-flex justify-content-center card" style="width: 50%;">
    <img src="{{ game.game_image.url }}" alt="{{ tournament.game_name }}" class="card-img-top mx-auto" style="width: 200px; height: 200px">
    <div class="card-body p-0">
    <ul class="container">
      <ul class="container list-group list-group-flush">
        <li class="list-group-item"><strong>Jeu :</strong> {{ tournament.game }}</li>
        <li class="list-group-item"><strong>Propriétaire : </strong>{{ tournament.admin }}</li>
        <li class="list-group-item"><strong>Nombre de participants : </strong>{{ tournament.nb_players }}</li>
        <li class="list-group-item"><strong>Joueurs : </strong>
            {{ tournament.player1 }} - {{ tournament.player2 }} - {{ tournament.player3 }} -
            {{ tournament.player4 }} - {{ tournament.player5 }} - {{ tournament.player6 }} -
            {{ tournament.player7 }} - {{ tournament.player8 }}
        </li>
        <li class="list-group-item"><strong>Date de début : </strong>{{ tournament.start_date }}</li>
        <li class="list-group-item"><strong>Heure de début : </strong>{{ tournament.start_time }}</li>
      </ul>
    </ul>
  </div>
  <div class="container d-flex justify-content-around my-4">
    <button type="button" class="btn-update btn btn-primary"><a class="btn-link"
        href="{% url 'tournament-update' tournament.id %}">Modifier</a></button>
    <button type="button" class="btn-update btn btn-primary"><a class="btn-link"
        href="{% url 'tournament-delete' tournament.id %}">Supprimer</a></button>
  </div>
</div>

<div class="container mt-5">
  <div class="row mt-4">
    <div class="container">
      <div class="row">
          <div class="col text-center">
              <form action="" method="post" novalidate class="align-self-end">
                  <h2><u>ROUND 1</u></h2>
                  <div class="d-flex justify-content-center">
                      <ul class="p-0">
                          <div class="my-4">
                              {% csrf_token %}
                              <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r1-m1-p1" for="r1-m1-p1"><strong>{{ round1.player1 }}</strong></label>
                                  {% if round1.player1_score %}
                                      {{ round1.player1_score }}
                                  {% else %}
                                      {{ round1_form.player1_score }}
                                  {% endif %}
                              </li>
                              <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r1-m1-p2" for="r1-m1-p1"><strong>{{ round1.player2 }}</strong></label>
                                  {% if round1.player2_score %}
                                      {{ round1.player2_score }}
                                  {% else %}
                                      {{ round1_form.player2_score }}
                                  {% endif %}
                              </li>
                          </div>
                          <div class="my-4">
                              <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r1-m2-p3" for="r1-m1-p1"><strong>{{ round1.player3 }}</strong></label>
                                  {% if round1.player3_score %}
                                      {{ round1.player3_score }}
                                  {% else %}
                                      {{ round1_form.player3_score }}
                                  {% endif %}
                              </li>
                              <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r1-m2-p4" for="r1-m1-p1"><strong>{{ round1.player4 }}</strong></label>
                                  {% if round1.player4_score %}
                                      {{ round1.player4_score }}
                                  {% else %}
                                      {{ round1_form.player4_score }}
                                  {% endif %}
                              </li>
                          </div>
                          <div class="my-4">
                              <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r1-m3-p5" for="r1-m1-p1"><strong>{{ round1.player5 }}</strong></label>
                                  {% if round1.player5_score %}
                                      {{ round1.player5_score }}
                                  {% else %}
                                      {{ round1_form.player5_score }}
                                  {% endif %}
                              </li>
                              <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r1-m3-p6" for="r1-m1-p1"><strong>{{ round1.player6 }}</strong></label>
                                  {% if round1.player6_score %}
                                      {{ round1.player6_score }}
                                  {% else %}
                                      {{ round1_form.player6_score }}
                                  {% endif %}
                              </li>
                          </div>
                          <div class="my-4">
                              <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r1-m4-p7" for="r1-m1-p1"><strong>{{ round1.player7 }}</strong></label>
                                  {% if round1.player7_score %}
                                      {{ round1.player7_score }}
                                  {% else %}
                                      {{ round1_form.player7_score }}
                                  {% endif %}
                              </li>
                              <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r1-m4-p8" for="r1-m1-p1"><strong>{{ round1.player8 }}</strong></label>
                                  {% if round1.player8_score %}
                                      {{ round1.player8_score }}
                                  {% else %}
                                      {{ round1_form.player8_score }}
                                  {% endif %}
                              </li>
                          </div>
                      </ul>
                  </div>
                  <div class="text-center mt-3">
                      <input type="submit" name="verrouiller_round1" class="btn btn-primary align-items-end" value="Verrouiller le round">
                  </div>
              </form>
          </div>
  
          <div class="col text-center">
              <form action="" method="post" novalidate>
                  <h2><u>DEMI-FINALES</u></h2>
                  <div class="d-flex justify-content-center">
                      <ul class="p-0">
                          <div class="round2-m1-margin">
                              {% csrf_token %}
                              <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r2-m1-p1" for="r2-m1-p1"><strong>{{ round2.player1 }}</strong></label>
                                  {% if round2.player1_score %}
                                      {{ round2.player1_score }}
                                  {% else %}
                                      {{ round2_form.player1_score }}
                                  {% endif %}
                              </li>
                              <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r2-m1-p2" for="r2-m1-p2"><strong>{{ round2.player2 }}</strong></label>
                                  {% if round2.player2_score %}
                                      {{ round2.player2_score }}
                                  {% else %}
                                      {{ round2_form.player2_score }}
                                  {% endif %}
                              </li>
                          </div>
                          <div class="round2-m2-margin">
                              <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r2-m2-p3" for="r2-m2-p3"><strong>{{ round2.player3 }}</strong></label>
                                  {% if round2.player3_score %}
                                      {{ round2.player3_score }}
                                  {% else %}
                                      {{ round2_form.player3_score }}
                                  {% endif %}
                              </li>
                              <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
                                  <label class="ps-4" id="player-r2-m2-p4" for="r2-m2-p4"><strong>{{ round2.player4 }}</strong></label>
                                  {% if round2.player4_score %}
                                      {{ round2.player4_score }}
                                  {% else %}
                                      {{ round2_form.player4_score }}
                                  {% endif %}
                              </li>
                          </div>
                      </ul>
                  </div>
                  <div class="text-center mt-3">
                      <input type="submit" name="verrouiller_round2" class="btn btn-primary align-items-end" onclick="DefinePlayersFinale()" value="Verrouiller le round">
                  </div>
              </form>
          </div>

          <div class="col text-center">
            <form action="" method="post" novalidate class="align-self-end">
              <h2><u>FINALE</u></h2>
              <div class="d-flex justify-content-center">
                  <ul class="p-0">
                      <div class="finale-margin">
                        {% csrf_token %}
                          <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
                              <label class="ps-4" id="player-r3-m1-p1" for="r3-m1-p1"><strong>{{ round3.player1 }}</strong></label>
                              {% if round3.player1_score %}
                                  {{ round3.player1_score }}
                              {% else %}
                                  {{ round3_form.player1_score }}
                              {% endif %}
                          </li>
                          <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
                              <label class="ps-4" id="player-r3-m1-p2" for="r3-m1-p2"><strong>{{ round3.player2 }}</strong></label>
                              {% if round3.player2_score %}
                                  {{ round3.player2_score }}
                              {% else %}
                                  {{ round3_form.player2_score }}
                              {% endif %}
                          </li>
                      </div>
                  </ul>
              </div>
              <div class="text-center mt-5">
                  <input type="submit" name="verrouiller_round3" class="btn btn-primary align-items-end" onclick="DefineWinner()" value="Verrouiller le round">
              </div>
            </form>
          </div>
      </div>
  </div>
  
  <div class="winner-display mt-5" id="winner-display" style="display:none;">
    <img src="{% static 'tournaments/images/Crown - Logo.png' %}" alt="winner">
    <h3 id="winner-name"></h3>
  </div>
</div>
<div class="container mt-3">
  <button type="button" class="btn-return-tournament btn btn-primary mt-5"><a class="btn-link"
      href="{% url 'tournament-list' %}">Liste des tournois</a></button>
</div>
{% endblock %}
