{% extends 'tournaments/base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <p class="mb-4 text-center">Nous vous avons envoyé par email les instructions à suivre afin de reinitialiser votre mot de passe. Vous devriez le recevoir prochainement.</p>
    <p class="mb-4 text-center">Si vous n'avez pas reçu d'email, assurez-vous d'avoir entrer l'adresse email avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.</p>
  </div>
</div>
{% endblock %}
